
.card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.innerCard{
    box-shadow: 7px 8px 8px #888888;
    max-width: 200px;
    background-color: rgb(233, 230, 221);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border-bottom: 5px solid rgb(52, 20, 128);

}
.count{
    font-size: 20em;
    font-weight: bold;
}
