.body{
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}
.PieChart{
  width: 70%;
  height: 70%;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .PieChart {
    width: 120%;
    /* height: 100%; */
  }
}